{% extends "base.html" %}

{% block master_content %}

<h1>Create an account</h1>

<form role="form" action="" method="post">
    {% csrf_token %}
	{% if form.errors %}
		{% for e in form.errors %}
		{{e.error}}
		{% endfor %}
	{% endif %}

	<div class="form-group">
		<label for="id_{{form.username.name}}">{{form.username.label}}</label>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-user"></span>
			<input type="text" class="form-control" id="id_{{form.username.name}}" name="{{form.username.name}}" placeholder="Enter username">
		</div>
		{% for e in form.username.errors %}{{ e }}{% endfor %}
	</div>
	<div class="form-group">
		<label for="id_{{form.password1.name}}">{{form.password1.label}}</label>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-lock"></span>
			<input type="password" class="form-control" id="id_{{form.password1.name}}" name="{{form.password1.name}}" placeholder="Enter password">
		</div>
		{% for e in form.password1.errors %}{{ e }}{% endfor %}
	</div>

	<div class="form-group">
		<label for="id_{{form.password2.name}}">{{form.password2.label}}</label>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-lock"></span>
			<input type="password" class="form-control" id="id_{{form.password2.name}}" name="{{form.password2.name}}" placeholder="Enter password">
		</div>
		{% for e in form.password2.errors %}{{ e }}{% endfor %}
	</div>

	<input type="submit" class="btn btn-primary" value="Sign In" />
	<input type="hidden" name="next" value="{{ next }}" />

</form>

{% endblock %}
